.weixin-pay {
  color: #09bb07;
}

.baidu-pay {
  color: #e55456
}

.alipay-pay {
  color: #1296db
}

.jd-pay {
  color: #d32
}

.cash-pay {
  color: #ffbf00;
}

.QQ-pay {
  color: #05B0FF
}

.card-pay {
  color: #333;
}