html {
  direction: ltr;
  height: 100%; // http://updates.html5rocks.com/2013/12/300ms-tap-delay-gone-away
  touch-action: manipulation;
}

html,
body,
app-root {
  // overflow-x: hidden;
  height: 100%;
}

body, .ant-layout, .ant-layout-footer {
  //background: #f0f2f5 !important;
}

.ant-menu-inline, .ant-menu-vertical {
  border-right: none !important;
}
[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}